.typistContainer {
  grid-column: 3/16;
  grid-row: 5/9;
  //background-color: rgba($color: #582525, $alpha: 0.6);
  z-index: 100;
  .typist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.box {
  grid-column: 1/7;
  grid-row: 1/13;
  border-right: 1px solid #c4c4c4;
  z-index: 10;
}

.trigger {
  position: absolute;
  bottom: 50em;
}

.down {
  position: absolute;
  top: 200em;
}

.color {
  position: absolute;
  bottom: 0;
  height: 0px;
  width: 100%;
  background: rgb(119, 113, 113);
}

.photo {
  grid-column: 8/18;
  grid-row: 1/9;
  z-index: 10;
}

.photo2 {
  grid-column: 8/18;
  grid-row: 5/13;
  z-index: 10;
}

.containerAnimation {
  grid-column: 9/18;
  grid-row: 2/6;
  background-color: rgba(59, 31, 31, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  justify-content: center;
  align-items: center;
}

.photoEdge {
  grid-column: 1;
  grid-row: 6/13;
  z-index: 10;
  object-fit: cover;
  background-color: white;
}

.photoEdge2 {
  grid-column: 1;
  grid-row: 1/8;
  z-index: 10;
}
