@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.text {
  padding-top: 1em;
  font-family: "Poiret One", cursive;
  color: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}
